OpenBCI_GUI/SavedData/OpenBCI-RAW-*
OpenBCI_GUI/SavedData/OpenBCI-EDF-*
OpenBCI_GUI/build/
.DS_Store
OpenBCI_GUI/temp.txt
OpenBCI_GUI/t-temp.txt
OpenBCI_GUI/build/source/*.java
*.app
OpenBCI_GUI/SavedData
OpenBCI_GUI/SavedData/EEG_Data/SDconverted-*
OpenBCI_GUI/data/EEG_Data/*
OpenBCI_GUI/application.*.zip
OpenBCI_GUI/application.*
