OpenBCI_GUI/SavedData/OpenBCI-RAW-*
OpenBCI_GUI/SavedData/OpenBCI-EDF-*
OpenBCI_GUI/build/
.DS_Store
OpenBCI_GUI/temp.txt
OpenBCI_GUI/t-temp.txt
OpenBCI_GUI/build/source/*.java
*.app
OpenBCI_GUI/SavedData/*.txt
OpenBCI_GUI/SavedData/*.bdf
OpenBCI_GUI/SavedData/*.csv
OpenBCI_GUI/SavedData/Settings
OpenBCI_GUI/SavedData/Screenshots
OpenBCI_GUI/SavedData/EEG_Data/SDconverted-*
OpenBCI_GUI/data/EEG_Data/*
OpenBCI_GUI/data/OpenBCIHub/*
OpenBCI_GUI/application.*
OpenBCI_GUI_unittests/UNITTEST_FAILURE
openbcigui_*
*.autosave
.vscode/*
