



body {
	margin: 0;
	color: black;
	background-color: white;
	font-family: verdana, arial, sans-serif;
	font-size: 10px;
}
pre {  
	font-family: "Courier New", Courier, mono; 
	font-size: 11px; 
	line-height: normal; 
	color: black;
	border: 1px solid silver;
	padding: 17px;
}
a
{
	color: red;
	text-decoration: none
}

a:hover
{
	color: fuchsia;
	text-decoration: none;
}


.mainText {
	vertical-align: top;
	text-align: right;
	padding-right: 20px;
}
.linkList {
	vertical-align: top;
	font-style: normal;
	color: #999999;
	padding-left: 5px;
}
.descList {
	vertical-align: top;
	font-style: normal;
	color: #000000;
	padding-left: 20px;
	padding-bottom: 30px;
	width: 200px;
}
.libName {
	font-size: 16px;
	font-weight: bold;
}
.indexheader,
.header {
	font-size: 12px;
	color: gray;
	text-align: right;
	padding: 20px;
	width: 126px;
	font-weight: normal;
}
.methodName {
	font-size: 24px;
	vertical-align: top;
	font-weight: bold;
	color: red;
	padding-left: 20px;
	padding-bottom: 30px;
}
.mainTextName {
	vertical-align: top;
	padding-right: 20px;
	text-align: right;
	padding-top: 5px;
}
.colored {
	color: #999999;
}
.indextext {
	vertical-align: top;
	text-align: left;
	padding-right: 20px;
	padding-left: 20px;
}
.indexheader {
	font-weight: bold;
	width: auto;
	height: auto;
}
.code_style {
	font-size: 8px;
}

.hide
{
	display: none;
}
