name: Push to AWS

on: [push, pull_request]

jobs:
  PushAWS:
    env:
      ACTIONS_ALLOW_UNSECURE_COMMANDS: true
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      max-parallel: 4
      matrix:
        os: [ubuntu-18.04, macos-10.15]

    steps:
    - name: Clone Repository
      uses: actions/checkout@v2
    - name: Install Python 3.7
      uses: actions/setup-python@v2
      with:
        python-version: '3.7.7'
        architecture: 'x64'
    - name: Install Python Dependencies
      run: |
        sudo -H python3 -m pip install requests
        sudo -H python3 -m pip install beautifulsoup4
        sudo -H python3 -m pip install awscli
    - name: MacOS Signing
      if: matrix.os == 'macos-10.15'
      run: |
        openssl aes-256-cbc -K $encrypted_2f5d2771e3cb_key -iv $encrypted_2f5d2771e3cb_iv -in release_script/mac_only/Certificates.p12.enc -out release_script/mac_only/Certificates.p12 -d
        bash release_script/mac_only/add-osx-cert.sh
      env:
        encrypted_2f5d2771e3cb_iv: ${{ secrets.encrypted_2f5d2771e3cb_iv }}
        encrypted_2f5d2771e3cb_key: ${{ secrets.encrypted_2f5d2771e3cb_key }}
    - name: Processing Linux
      if: matrix.os == 'ubuntu-18.04'
      run: |
        mkdir $GITHUB_WORKSPACE/temp
        cd $GITHUB_WORKSPACE/temp
        curl -O -L --insecure https://download.processing.org/processing-3.5.3-linux64.tgz
        tar -xzvf processing-3.5.3-linux64.tgz
        echo "::set-env name=PATH::$GITHUB_WORKSPACE/temp/processing-3.5.3:$PATH"
        mkdir -p $HOME/sketchbook/libraries/
        cp -a $GITHUB_WORKSPACE/OpenBCI_GUI/libraries/. $HOME/sketchbook/libraries/
    - name: Processing MacOS
      if: matrix.os == 'macos-10.15'
      run: |
        mkdir $GITHUB_WORKSPACE/temp
        cd $GITHUB_WORKSPACE/temp
        curl -O -L --insecure https://download.processing.org/processing-3.5.3-macosx.zip
        unzip processing-3.5.3-macosx.zip
        mv Processing.app /Applications/Processing.app
        echo "::set-env name=PATH::$GITHUB_WORKSPACE/release_script/mac_only:$PATH"
        chmod +x $GITHUB_WORKSPACE/release_script/mac_only/processing-java
        mkdir -p $HOME/Documents/Processing/libraries/
        cp -a $GITHUB_WORKSPACE/OpenBCI_GUI/libraries/ $HOME/Documents/Processing/libraries/
        python3 -m pip install dmgbuild
        mkdir -p $HOME/sketchbook/libraries/
        cp -a $GITHUB_WORKSPACE/OpenBCI_GUI/libraries/ $HOME/sketchbook/libraries/
    - name: Run Make Release Script
      if: (matrix.os == 'macos-10.15') || (matrix.os == 'ubuntu-18.04')
      run: |
        cd $GITHUB_WORKSPACE
        sudo -H python3 $GITHUB_WORKSPACE/release_script/make-release.py --no-prompts
        GUI_COMMIT_TIME=`cat temp/timestamp.txt`
        GUI_VERSION_STRING=`cat temp/versionstring.txt`
    - name: MacOS Publish
      if: matrix.os == 'macos-10.15'
      run: |
        aws s3 rm s3://openbci-gui/${GITHUB_REF}/latest  --recursive --exclude "*" --include "openbcigui_*_macosx.dmg"
        aws s3 cp $TRAVIS_BUILD_DIR/. s3://openbci-gui/${GITHUB_REF}/${GUI_VERSION_STRING}_${GUI_COMMIT_TIME}  --recursive --exclude "*" --include "openbcigui_*_macosx.dmg"
        aws s3 cp $TRAVIS_BUILD_DIR/. s3://openbci-gui/${GITHUB_REF}/latest  --recursive --exclude "*" --include "openbcigui_*_macosx.dmg"
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    - name: Linux Publish
      if: matrix.os == 'ubuntu-18.04'
      run: |
        aws s3 rm s3://openbci-gui/${GITHUB_REF}/latest  --recursive --exclude "*" --include "openbcigui_*_linux64.zip"
        aws s3 cp $GITHUB_WORKSPACE/. s3://openbci-gui/${GITHUB_REF}/${GUI_VERSION_STRING}_${GUI_COMMIT_TIME}  --recursive --exclude "*" --include "openbcigui_*_linux64.zip"
        aws s3 cp $GITHUB_WORKSPACE/. s3://openbci-gui/${GITHUB_REF}/latest  --recursive --exclude "*" --include "openbcigui_*_linux64.zip"
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}